* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v124_1339 {
    width: 100%;
    height: 982px;
    background: rgba(218,0,249,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v124_1359 {
    width: 435px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 61px;
    left: 81px;
    font-family: Preahvihear;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v153_1388 {
    width: 513px;
    height: 483px;
    background: url("./images/v153_1388.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 90px;
    left: 980px;
    overflow: hidden;
  }
  .v153_1389 {
    width: 513px;
    height: 483px;
    background: url("./images/v153_1389.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 188px;
    left: 152px;
    overflow: hidden;
  }
  .v153_1390 {
    width: 298px;
    height: 280px;
    background: url("./images/v153_1390.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 978px;
    left: 1405px;
    transform: rotate(-179deg);
    overflow: hidden;
  }
  .v153_1391 {
    width: 298px;
    height: 280px;
    background: url("./images/v153_1391.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 988px;
    left: 715px;
    transform: rotate(-179deg);
    overflow: hidden;
  }
  .v153_1392 {
    width: 303px;
    height: 285px;
    background: url("./images/v153_1392.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 285px;
    left: 641px;
    overflow: hidden;
  }
  .v126_1336 {
    width: 500px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 229px;
    left: 116px;
    font-family: Preahvihear;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v154_1393 {
    width: 500px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 295px;
    left: 509px;
    font-family: Preahvihear;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v154_1418 {
    width: 500px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 347px;
    left: 533px;
    font-family: Preahvihear;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v154_1419 {
    width: 96px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 353px;
    left: 658px;
    font-family: Preahvihear;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v154_1420 {
    width: 239px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 447px;
    left: 261px;
    font-family: Preahvihear;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v154_1423 {
    width: 239px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 509px;
    left: 289px;
    font-family: Preahvihear;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v154_1421 {
    width: 239px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 478px;
    left: 325px;
    font-family: Preahvihear;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v154_1416 {
    width: 500px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 713px;
    left: 149px;
    font-family: Preahvihear;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v154_1417 {
    width: 500px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 627px;
    left: 916px;
    font-family: Preahvihear;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v154_1415 {
    width: 500px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 238px;
    left: 890px;
    font-family: Preahvihear;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v131_1339 {
    width: 500px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 118px;
    left: 857px;
    font-family: Preahvihear;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v134_1346 {
    width: 303px;
    height: 314px;
    background: url("./images/v134_1346.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 605px;
    left: 1166px;
    overflow: hidden;
  }
  .v134_1347 {
    width: 500px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 538px;
    left: 922px;
    font-family: Preahvihear;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v133_1341 {
    width: 500px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 641px;
    left: 66px;
    font-family: Preahvihear;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v133_1340 {
    width: 125px;
    height: 222px;
    background: url("./images/v133_1340.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 651px;
    left: 524px;
    overflow: hidden;
  }
  .v126_1337 {
    width: 373px;
    height: 156px;
    background: url("./images/v126_1337.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 295px;
    left: 116px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v124_1365 {
    width: 232px;
    height: 97px;
    background: url("./images/v124_1365.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 458px;
    left: 500px;
    overflow: hidden;
  }
  .v131_1338 {
    width: 372px;
    height: 295px;
    background: url("./images/v131_1338.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 213px;
    left: 1096px;
    transform: rotate(-14deg);
    overflow: hidden;
  }
  .v133_1343 {
    width: 94px;
    height: 187px;
    background: url("./images/v133_1343.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 762px;
    left: 443px;
    overflow: hidden;
  }
  