* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v142_1395 {
    width: 100%;
    height: 982px;
    background: rgba(172,167,237,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v351_1362 {
    width: 293px;
    height: 293px;
    background: url("./images/v351_1362.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 245px;
    left: 47px;
    overflow: hidden;
  }
  .v351_1364 {
    width: 355px;
    height: 355px;
    background: url("./images/v351_1364.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 641px;
    left: 26px;
    overflow: hidden;
  }
  .v351_1363 {
    width: 318px;
    height: 318px;
    background: url("./images/v351_1363.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 375px;
    left: 510px;
    overflow: hidden;
  }
  .v351_1365 {
    width: 290px;
    height: 290px;
    background: url("./images/v351_1365.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 150px;
    left: 903px;
    overflow: hidden;
  }
  .v351_1366 {
    width: 337px;
    height: 337px;
    background: url("./images/v351_1366.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 619px;
    left: 903px;
    overflow: hidden;
  }
  .v142_1398 {
    width: 435px;
    color: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
    position: absolute;
    top: 61px;
    left: 81px;
    font-family: Coanda;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v142_1399 {
    width: 599px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 180px;
    left: 26px;
    font-family: Coanda;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v155_1429 {
    width: 366px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 245px;
    left: 299px;
    font-family: Coanda;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v155_1430 {
    width: 249px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 191px;
    left: 1192px;
    font-family: Coanda;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v155_1431 {
    width: 216px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 414px;
    left: 858px;
    font-family: Coanda;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v155_1433 {
    width: 216px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 625px;
    left: 1235px;
    font-family: Coanda;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v155_1432 {
    width: 231px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 668px;
    left: 353px;
    font-family: Coanda;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v142_1400 {
    width: 500px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 97px;
    left: 902px;
    font-family: Coanda;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v142_1401 {
    width: 500px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 302px;
    left: 461px;
    font-family: Coanda;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v142_1402 {
    width: 500px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 562px;
    left: 1041px;
    font-family: Coanda;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v142_1404 {
    width: 500px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 584px;
    left: 66px;
    font-family: Coanda;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v301_1336 {
    width: 141px;
    height: 238px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 279px;
    left: 175px;
    overflow: hidden;
  }
  .v144_1339 {
    width: 141px;
    height: 238px;
    background: url("./images/v144_1339.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v145_1341 {
    width: 227px;
    height: 298px;
    background: url("./images/v145_1341.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 154px;
    left: 966px;
    overflow: hidden;
  }
  .v301_1337 {
    width: 180px;
    height: 255px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 668px;
    left: 39px;
    overflow: hidden;
  }
  .v147_1342 {
    width: 180px;
    height: 255px;
    background: url("./images/v147_1342.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v301_1339 {
    width: 246px;
    height: 363px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 364px;
    left: 599px;
    overflow: hidden;
  }
  .v149_1344 {
    width: 246px;
    height: 363px;
    background: url("./images/v149_1344.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v301_1340 {
    width: 253px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 656px;
    left: 991px;
    overflow: hidden;
  }
  .v150_1345 {
    width: 253px;
    height: 300px;
    background: url("./images/v150_1345.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  