@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aqua";
  src: url("./assets/fonts/aqua.ttf");
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-VariableFont_wght.ttf");
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("./assets/fonts/Helvetica_Neue_Regular.otf");
}

@font-face {
  font-family: "Inter";
  src: url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
}


@layer base {
  .themeOne {
    --color-text-base: #112a46;
    --color-text-base-hover: #061424;
    --color-text-primary: #7B79AF;
    --color-fill-primary: #7B79AF;
    --color-fill-secondary: #9ADBBC;
    --color-fill-secondary-hover: #80d4ac;
    --color-fill-base: 255, 255, 255;
    --color-fill-muted: #b4b3d1;
    --color-border-primary: #112A46;
    --color-border-primary-hover: #061424;
    --color-border-base: #ffffff;
  }
  .themeTwo {
    --color-text-base: #ffffff;
    --color-text-base-hover: #d2d2d2b1;
    --color-text-primary: #38369D;
    --color-fill-primary: #38369D;
    --color-fill-secondary: #EF7A85;
    --color-fill-secondary-hover: #ff8285;
    --color-fill-base: 255, 255, 255;
    --color-fill-muted: #b4b3d1;
    --color-border-primary: #ffffff;
    --color-border-primary-hover: #d2d2d2b1;
    --color-border-base: #ffffff;
  }
  .themeThree { 
    --color-text-base: #ffffff;
    --color-text-base-hover: #d2d2d2b1;
    --color-text-primary: #63128A;
    --color-fill-primary: #63128A;
    --color-fill-secondary: #AFBEFB;
    --color-fill-secondary-hover: #677fdf;
    --color-fill-base: 255, 255, 255;
    --color-fill-muted: #b4b3d1;
    --color-border-primary: #ffffff;
    --color-border-primary-hover: #d2d2d2b1;
    --color-border-base: #ffffff;
  }
  .themeFour { 
    --color-text-base: #ffffff;
    --color-text-base-hover: #d2d2d2b1;
    --color-text-primary: #4188F1;
    --color-fill-primary: #4188F1;
    --color-fill-secondary: #000000;
    --color-fill-secondary-hover: #2c2c2c;
    --color-fill-base: 255, 255, 255;
    --color-fill-muted: #b4b3d1;
    --color-border-primary: #ffffff;
    --color-border-primary-hover: #d2d2d2b1;
    --color-border-base: #ffffff;
  }
  .themeFive { 
    --color-text-base: #ffffff;
    --color-text-base-hover: #d2d2d2b1;
    --color-text-primary: #FFD447;
    --color-fill-primary: #FFD447;
    --color-fill-secondary: #D76DD2;
    --color-fill-secondary-hover: #b82fb1;
    --color-fill-base: 255, 255, 255;
    --color-fill-muted: #b4b3d1;
    --color-border-primary: #ffffff;
    --color-border-primary-hover: #d2d2d2b1;
    --color-border-base: #ffffff;
  }
}